#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "autoconf"
    "azure-cli"
    "bat"
    "curl"
    "direnv"
    "fzf"
    "gh"
    "jq"
    "just"
    "mise"
    "neovim"
    "ripgrep"
    "starship"
    "terraform"
    "tmux"
    "wget"
    "xz"
    "zoxide" -}}

{{ $casks := list
    "jetbrains-toolbox"
    "powershell"
    "visual-studio-code"
    "devpod"
    "font-hack-nerd-font"
    "1password-cli" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

