{{ if .personal -}}
github.com:
    users:
        {{ (onepasswordDetailsFields "n5734ev4djb7tpw4gzqie4zpgu").username.value }}:
            oauth_token: {{ (onepasswordItemFields "n5734ev4djb7tpw4gzqie4zpgu").Token.value }}
    git_protocol: ssh
    oauth_token: {{ (onepasswordItemFields "n5734ev4djb7tpw4gzqie4zpgu").Token.value }}
    user: {{ (onepasswordDetailsFields "n5734ev4djb7tpw4gzqie4zpgu").username.value }}
{{ else -}}
github.com:
    users:
        {{ (onepasswordDetailsFields "nsmsxm4la7dcu52ui6xzho746e").username.value }}:
            oauth_token: {{ (onepasswordItemFields "nsmsxm4la7dcu52ui6xzho746e").CLI.value }}
    git_protocol: ssh
    oauth_token: {{ (onepasswordItemFields "nsmsxm4la7dcu52ui6xzho746e").CLI.value }}
    user: {{ (onepasswordDetailsFields "nsmsxm4la7dcu52ui6xzho746e").username.value }}
{{ end -}}
