{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}


{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- else -}}
{{-   $personal = promptBoolOnce . "personal" "personal" -}}
{{- end -}}


{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{-   $personal = promptStringOnce . "email" "email" -}}
{{-   $ghuser = promptStringOnce . "ghuser" "ghuser" -}}


[data]
  email = {{ $email | quote }}
  fullname = "Zach Maillard"
  ghusername = {{ $ghuser | quote }}
  personal = {{ $personal }}
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  onepasswordAccount = "PVWWGWIMRFEUNDPUXB3BKNMY3E"
  osid = {{ $osID | quote }}
