[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/nvim/site/pack/packer/start/packer.nvim"]
    type = "archive"
    url = "https://github.com/wbthomason/packer.nvim/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"


["google-cloud-sdk"]
    type = "archive"
    url = "https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-darwin-arm.tar.gz"
    exact = true
    stripComponents = 1
    checksum.sha256 = "dfcd0c7d0fa9fb875e3760215718e19d9ce3bb808541113dce3f66959902f4f1"

[".local/bin/mockery"]
    type = "archive"
    url = "https://github.com/vektra/mockery/releases/download/v2.52.1/mockery_2.52.1_Darwin_arm64.tar.gz"
    checksum.sha256 = "cee7555a62ec6f5557561520aa3869ff2a0ca01dcedd9161e81c6cedab1efe70"
    path = "mockery/mockery"
    executable = true
