.oh-my-zsh/cache/**

.local/share/nvim/site/pack/packer/start/packer.nvim/doc/tags
.local/share/nvim/site/pack/packer/start/packer.nvim/.git

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/homebrew
{{ end }}
{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.hushlogin
{{ end }}


{{ if .ephemeral }}
.config/nvim/after
.config/nvim/lua/zach
{{ end }}

google-cloud-sdk/**