# This is Git's per-user configuration file.
[user]
	name = {{ .fullname }}
	email = {{ .email }}
[pull]
        rebase = true
[core]
        editor = vim
[pager]
        diff = cat
        core = "less -F -X"
        branch = cat

