{{ if and (eq .chezmoi.os "darwin" "linux") (not .headless) -}}
{{ $extensions := list
    "asvetliakov.vscode-neovim"
    "ms-vscode-remote.remote-containers"
    "ms-vscode-remote.remote-ssh"
    "ms-vscode-remote.remote-ssh-edit"
    "ms-vscode-remote.vscode-remote-extensionpack"
    "ms-azure-devops.azure-pipelines"
    "github.copilot"
    "github.copilot-chat"
    "ms-azuretools.vscode-azureterraform"
    "ms-azuretools.vscode-azure-github-copilot"
    "ms-vscode.azurecli"
    "hashicorp.terraform"
    "tamasfe.even-better-toml"
    "msazurermtools.azurerm-vscode-tools"
    "ms-vscode.powershell"
    "github.vscode-github-actions"
    "postman.postman-for-vscode"
    "gruntfuggly.todo-tree"
    "redhat.vscode-yaml" -}}


#!/bin/bash

set -eufo pipefail

{{ range $extensions }}
code --force --install-extension {{ . }}
{{ end }}
{{ end -}}
