-- This file can be loaded by calling `lua require('plugins')` from your init.vim

-- Only required if you have packer configured as `opt`
vim.cmd [[packadd packer.nvim]]

return require('packer').startup(function(use)
  -- Packer can manage itself
  use 'wbthomason/packer.nvim'

  use {
	  'nvim-telescope/telescope.nvim', tag = '0.1.5',
	  -- or                            , branch = '0.1.x',
	  requires = { {'nvim-lua/plenary.nvim'} }
  }

  use('folke/tokyonight.nvim')

  use('nvim-treesitter/nvim-treesitter', {run= ':TSUpdate'})

  {{- if .personal -}}
  use('Olical/conjure')
  use('tpope/vim-dispatch')
  use('clojure-vim/vim-jack-in')
  use('radenling/vim-dispatch-neovim')
  use('gpanders/nvim-parinfer')
  {{- end -}}
  use('nvim-lua/plenary.nvim')
  use('ThePrimeagen/harpoon')
  use('mbbill/undotree')
  use('tpope/vim-fugitive')
  use('kylechui/nvim-surround')

  use {
    "zbirenbaum/copilot.lua",
    cmd = "Copilot",
    event = "InsertEnter",
    config = function()
      require("copilot").setup()
    end,
  }

  use {'williamboman/mason.nvim'}
  use {'williamboman/mason-lspconfig.nvim'}

  use {'neovim/nvim-lspconfig'}
  use {'hrsh7th/nvim-cmp', config= [[require('zach.config.nvim-cmp-config')]]}
  use {'hrsh7th/cmp-nvim-lsp', after = 'nvim-cmp'}
  use {'hrsh7th/cmp-buffer', after = 'nvim-cmp'}
  use {'hrsh7th/cmp-path', after = 'nvim-cmp'}
  use {'hrsh7th/cmp-cmdline', after = 'nvim-cmp'}
  use {'L3MON4D3/LuaSnip'}
  use {'saadparwaiz1/cmp_luasnip'}


  use {'mfussenegger/nvim-dap'}
  use {'rcarriga/nvim-dap-ui'}
  use {'theHamsta/nvim-dap-virtual-text'}
  use {'nvim-telescope/telescope-dap.nvim'}


end)
